* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: unset;
    background-color: #f0e5d9;
}

.menu {
    background-color: #fabec8a3;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.menu a {
    padding: 0px 8px;
    color: #343333f2;
    text-decoration: unset;
}

.menu a:hover {
    color: #9d5e5e;
    text-decoration: underline;
}