<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Mirit's Website</title>
</head>
<body>
    {% include('menu.html') %}

    <div class="content">
        {% if session.username %}
            <h2>Hello {{ session.username }}!</h2>
        {% else %}
            <h1>Hello!</h1>
        {% endif %}
        <h3>Welcome to my website!</h3>
    </div>
    
</body>
</html>